@use 'colors';

//hlavní stránka obsah//

.home {
    max-width: 1300px;
    margin: auto;
    @media screen and (min-width: 900px) {
        display: flex;;
    }
}
.about-me {
    border: 1px solid colors.$c-border;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: colors.$c-background;
    width: 350px;
    img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
}
.about-me, .news {
    margin: 20px auto;
    padding: 20px;
        h2 {
            margin: 20px;
            text-align: center;
        }
}




//hlavní obsah//

.welcome {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.welcome-trips {
    background-image: url("/images/trips-photo.jpg");
}

.welcome-food {
    background-image: url("/images/food-photo.jpg");
    background-position: center;
}
