<footer class="footer">

        <div class="footer-text">
            <p>Kontaktujte mě na mých sociálních sítích: </p>
        </div>
         <div class="footer-icons">
            <a href="https://www.facebook.com/barus.ka.5/" class="icon facebook-icon"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/easyhealthyl/?hl=cs" class="icon instagram"><i class="fa fa-instagram"></i></a>
        </div>   

</footer>