<header class="header">
		<div class="menu-icon"><a href="/" class="menu-icon-link">Travel & Eat</a></div>
	
    <nav class="menu">
        <input type="checkbox" class="menu-checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu-toggler hover-set">☰</label>
            <ul class="menu-list">
                <li class="menu-item">
                    <a class="menu-link" href="/vylety/">Kam na výlet</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/podniky/">Kam na jídlo</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/">Domů</a>
                </li>
            </ul>
        </nav>
</header>
